<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Elliot Crosby-McCullough’s Bundle</string>
	<key>uuid</key>
	<string>2EF72238-49F6-4E18-A93B-348E21E17A5A</string>
</dict>
</plist>
